header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 2cm;
}
nav a{
 margin-right: 20px;
 color:white;
 text-decoration: none;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 0px 0px 100px;
}
#headline{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headlinesection{
   text-wrap: nowrap;
}
#headline h1{
    color: #585A3C;
    font-size: 35px;
}
#headline h3{
    color: white;
}
.btn{
    display: inline-block;
    background-color: #A58754;
    color: white;
    width: 150px;
    height:50px;
    border-radius: 10px;
    border: #A58754;
    transition: all 0.5s;
    cursor: pointer;
}
.btn:hover{
    background-color: aliceblue;
    color: #A58754;

}
.btn span{
    font-size: larger;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
.btn span::after{
    content: '\00bb';
    font-size: larger;
    position:absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
}
.btn:hover span{
    padding-right: 25px;
}
.btn:hover span::after{
    opacity: 1;
    right: 0;
}

#first{

}
body{
    background-color: #0B2A3B;
}
#about{
    margin-top: 5cm;
    
}
#inabout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px;
    row-gap: 20px;
}
#aboutus{
    color: #0B2A3B;
    background-color:blanchedalmond;
    border-radius: 20px;
    padding: 20px;
    grid-row-start:1;
    grid-row-end:3;
    grid-template-rows: 250px;
}
.pics{
    opacity: 1;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}
#pool:hover .pics{
    opacity: 0.3;
}
#pool:hover .middle{
    opacity: 1;
}